
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color: gainsboro;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 3 black;
  color: black;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(128, 128, 128);
  text-shadow: 2px 2px 3 black;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  text-shadow: 2px 2px 3 black;
}
.parallax {
    background-image: url('../img/salmon.png');
  
    height: 500px;
  
    background-attachment: fixed;
    /* remove the background-attachment property to remove the scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.scrollbox {
  height:800px;
  background-color:rgba(71, 135, 255, .5);
  font-size: 24px;
}
table, th, td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(133, 133, 133);
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-shadow: 0px 0px 1px rgb(75, 75, 75);
  text-align: center;
}

td {
  color: white;
}

#totals {
  color: orange;
}
